*{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
img {
  max-width: 100%;
}
.card-img-top {
  height: 200px;
  object-fit: contain;
}
.show-btn {
  display: none !important;
}
@media (max-width: 767px) {
  .hide-field {
    display: none !important;
  }  
  .show-btn {
    display: block !important;
  }
}