<main id="content" class="container">
    <div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Nombre</th>
                                    <th>Imagen</th>
									<th>Descripcion</th>
									<th>Precio</th>
									<th>Caracteristicas</th>
									<th>Acciones</th>
                                    
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>#451231</td>
									<td>Dell</td>
									<td>url</td>
                                    <td>Lorem Isun</td>
									<td>$99.00</td>
									<td>8 Gb ram, 240 Gb ssd</td>
									<td><a href="order.html" class="btn btn-success">Editar</a>
                                    <a href="order.html" class="btn btn-danger">Eliminar</a></td>
								</tr>							
							</tbody>
						</table>
					</div>
				</div>
</main>
