<main id="content">
    <div class="comprar-section mb-2">
        <div class="container">
            <div class="row bg-light rounded p-2">
                <div class="col-md-12">
                    <h1>Como comprar</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur inventore a, incidunt maxime deserunt eum autem rerum molestias dolorum quibusdam similique optio? Quam ab odit expedita voluptatibus earum libero nihil.</p>
                </div>
                <div class="col-md-12">
                    <h2>Proceso de compra</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure fuga cumque dicta molestias architecto deleniti animi similique at doloremque repudiandae velit consequuntur ducimus, rerum quisquam voluptas hic possimus alias molestiae?</p>
                </div>
                <div class="col-md-12">
                    <h2>Devoluciones</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugit officiis quaerat nesciunt deleniti hic iure quisquam magni minus doloremque perferendis nihil, ea consectetur quae obcaecati nobis cum expedita in.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad dicta, autem numquam incidunt itaque exercitationem repudiandae molestiae unde sit quibusdam maiores, quae libero deserunt odio ipsa facilis dolorum blanditiis provident.</p>
                </div>
                <div class="col-md-6">
                    <h2>Envios</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, incidunt nobis voluptatem neque id maiores repellat dolores, dolore rerum voluptatum excepturi ullam officiis aliquam, ad reprehenderit non quae sequi nostrum?</p>
                </div>
                <div class="col-md-6">
                    <h2>Medios de pago</h2>
                    <ul class="nav d-flex flex-wrap gap-4">
                        <li class="nav-item"><i class="fs-2 bi bi-credit-card"></i></li>
                        <li class="nav-item"><i class="fs-2 bi bi-credit-card"></i></li>
                        <li class="nav-item"><i class="fs-2 bi bi-credit-card"></i></li>
                        <li class="nav-item"><i class="fs-2 bi bi-credit-card"></i></li>
                        <li class="nav-item"><i class="fs-2 bi bi-credit-card"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>    
</main>